h1{
    color: green;
    font-size: 20px;
}
label{
    color: red;
    font-weight: bold;
   
}

button{
    background-color: black;
    height: 40px;
}
.cc{
    color: white;
}
.bb{
    height: 100px;
}